<h2>Por Región</h2>
<hr>
<div class="row">
  <div class="col text-center">
    <!-- SearchBox-->
    <!-- <shared-search-box (onValue)="searchByRegion($event)" placeholder="Buscar por región" /> -->
    <button *ngFor="let region of regions"
      class="btn mx-1"
      [ngClass]="{'btn-outline-primary': region === activeRegion }"
      (click)="searchByRegion(region)">
        {{region}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
